<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>Create New Album</h1>

<form action="/create" method="post">

    <div class="form-group">
        <label>Enter album name:</label>
        <input type="text" name="name" required>
    </div>

    <div class="form-group">
        <label>Album Genre:</label>
        <select name="genre_id">
            <option th:each="genre : ${genres}"
                    th:value="${genre.genre_id}"
                    th:text="${genre.name}">
            </option>
        </select>
            <a href="/createGenre">
                <button type="button">New Genre</button>
            </a>
    </div>

    <div class="form-group">
        <label>Album Record Company:</label>
        <select name="company_id">
            <option th:each="company : ${companies}"
                    th:value="${company.company_id}"
                    th:text="${company.name}">
            </option>
        </select>
        <a href="/createCompany">
            <button type="button">New Company</button>
        </a>
    </div>


    <div class="button-group">
        <input type="submit" value="Create Album">
        <a href="/">
            <button type="button">Cancel</button>
        </a>
    </div>

</form>






</body>
</html>