<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MinMusicDatabase</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1> Music Collection </h1>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Genre</th>
            <th>Record Company</th>
            <th>Options</th>
        </tr>
    </thead>
        <tbody>
            <tr th:each ="album : ${albums}">
                <td th:text="${album.album_id}"></td>
                <td th:text="${album.artists != null} ? ${album.artists} : 'No Artist'"></td>
                <td th:text="${album.name}"></td>
                <td th:text="${album.genre_name}"></td>
                <td th:text="${album.company_name}"></td>
                <td>
                    <a th:href="@{'/viewOne/'+${album.album_id}}">
                        <button class="btn-viewOne" id="btn-viewOne">View an Album</button>
                    </a>
                    <a th:href="@{'/deleteOne/'+${album.album_id}}">
                    <button class="btn-deleteOne" id="btn-deleteOne">Delete Album</button>
                    </a>
                    <a th:href="@{'/updateOne/'+${album.album_id}}">
                        <button class="btn-updateOne" id="btn-updateOne">Update Album</button>
                    </a>
                </td>
            </tr>
        </tbody>

    <a href="/create">
        <button class="btn"> Create new Album</button>
    </a>
    <a href="/createGenre">
        <button class="btn button2"> Create new Genre</button>
    </a>
    <a href="/createCompany">
        <button class="btn button3"> Create new Record Company</button>
    </a>


</table>
</body>
</html>