<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <h1>Update Album</h1>
    <form action="/updateOne" method="post">

        <div class="form-group">
            <label>Edit Album ID:</label>
        <input type="number" name="album_id" th:value="${album.album_id}">
        </div>

        <div class="form-group">
            <label>Edit Album Name:</label>
        <input type="text" name="name" th:value="${album.name}">
        </div>
        <div class="form-group">
            <label>Edit Album Genre:</label>
        <input type="number" name="genre_id" th:value="${album.genre_id}">
        </div>
            <div class="form-group">
                <label>Edit Album Company:</label>
        <input type="number" name="company_id" th:value="${album.company_id}">
            </div>
        <input type="submit" value="save changes">

        <a href="/">
            <button>Back to List</button>
        </a>
    </form>
</body>
</html>