<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Album</title>
</head>
<body>
    <h1>View Album</h1>

    <p>ID: <span th:text="${album.album_id}"></span></p>
    <p>Album Name: <span th:text="${album.name}"></span></p>
    <p>Genre ID: <span th:text="${album.genre_id}"></span></p>
    <p>Genre Name: <span th:text="${album.genre_name}"></span></p>
    <p>Record Company ID: <span th:text="${album.company_id}"></span></p>

    <a href="/">
        <button>Back to List</button>
    </a>
</body>
</html>